# Environment variables
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage

# Next.js build output
.next/
out/
build/
dist/

# Python & Pycache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# IDE / OS
.DS_Store
*.pem
.vscode/
.idea/
