# Environment variables
.env
.env.local
.env.*.local
*.env

# Python & Vector Storage
__pycache__/
*.py[cod]
*$py.class
chroma_db/
uploaded_docs/
venv/
.venv/
env/
.env/

# Dependencies & Build Output
node_modules/
.next/
dist/
build/
out/
.pnp
.pnp.js
coverage

# IDE / OS
.DS_Store
*.pem
.vscode/
.idea/
